<!DOCTYPE html>
<html>
<head>
  <title>Teste Rails</title>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%= stylesheet_link_tag 'loldesign_publisher/publisher', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: '/layouts/loldesign_publisher/header_main' %>

  <section class='container'>
    <%= render partial: '/layouts/loldesign_publisher/nav_main' %>
    <section class='content-wrapper'>

      <%= render partial: '/layouts/loldesign_publisher/modules/messages' %>

      <%= yield %>
    </section>
  </section>
  <%= javascript_include_tag 'loldesign_publisher/publisher' %>
  <%= javascript_include_tag '/grid.js' if Rails.env.development? %>
</body>
</html>