<%= simple_nested_form_for @product, html: { id: 'product--form', multipart: true } do |f| %>

  <section class='fields-wrapper one-column'>
    <header>
      <h2>Destaque</h2>
    </header>
    <article>
      <%= f.input :name, wrapper_html: {class: 'col-18'} %>
      <%= f.input :description, wrapper_html: {class: 'col-18'} %>

      <%= f.fields_for :available_products, wrapper_html: { class: 'col-18' } do |ff| %>
          <div class="col-5">
            <%= ff.label  :color_id, class: 'col-18' %>
            <%= ff.select :color_id, options_for_select(Color.all.collect{ |color| [color.name, color.id] }, ff.object.color_id), include_blank: true %>
          </div>
          <div class="col-5">
            <%= ff.label  :size_id, class: 'col-18' %>
            <%= ff.select :size_id, options_for_select(Size.all.collect{ |size| [size.name, size.id] }, ff.object.size_id), include_blank: true %>
          </div>
          <div class="col-5">
            <%= ff.input :quantity, as: :integer %>
          </div>
          <div class="col-2">
            <%= ff.link_to_remove "Remover" %>
          </div>
      <% end %>
      <br>
      <%= f.link_to_add "Adicionar", :available_products, class: 'col-3' %>
    </article>
  </section>

  <footer>
    <%= cancel_action(path: products_path) %>
    <%= submit_button f %>
  </footer>
<% end %>
