<%= add_resource 'Novo Produto', new_product_path %>
<%= title_page "Produtos disponíveis" %>

<table class='table-page'>
  <thead>
    <tr>
      <th><%= Product.human_attribute_name(:name) %></th>
      <th><%= Product.human_attribute_name(:description) %></th>
      <th><%= AvailableProduct.human_attribute_name(:color) %></th>
      <th><%= AvailableProduct.human_attribute_name(:size) %></th>
      <th><%= AvailableProduct.human_attribute_name(:quantity) %></th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <%= display_list_for(@available_products, fields: 6) %>
  </tbody>
</table>

<%= will_paginate @available_products %>
